# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# Data
data/*
!data/.gitkeep

# ML models
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store